# Ignore node_modules directory
node_modules/

# Ignore package-lock.json (optional)
package-lock.json

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SQLite
*.db

_app/
build/